# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environment variables
.env
.env.*
!.env.example

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/
coverage.xml
tests/

# Linter cache
.ruff_cache/

# Git and metadata
.git/
.github/
.gitignore
.dockerignore
